retail_lakehouse:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: lakehouse-analytics
      dataset: retail_lakehouse
      threads: 4
      location: asia-southeast1
    ci:
      type: bigquery
      method: oauth
      project: lakehouse-analytics
      dataset: retail_lakehouse_ci
      threads: 4
      location: asia-southeast1
